# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code config
.vscode/

# project models and data
code-search-net-tokenizer/
data/
models/
